$cWhite: white;


h1 {
  background-color: palevioletred;
  color: $cWhite;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.content {
  font-size: 22px;
  font-weight: bold;
}

.post {
  font-size: 14px;
  font-weight: normal;
}
