$cWhite: white;

header {
  display: flex;
  justify-content: space-between;
  background-color: palevioletred;
  height: 100px;
  align-items: center;
}

h1 {
  color: $cWhite;
  margin-left: 20px;
  // text-align: center;
  // line-height: 100px;
}

a {
  text-decoration: none;
}

.btn {
  margin-right: 20px;
  color: $cWhite;
  font-size: 25px;
  font-weight: bold;
  
  
}

.content {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.post {
  font-size: 14px;
  font-weight: normal;
}
